@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*::-webkit-scrollbar {
  display: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
    display: grid;
    place-items: center;
    height: 200vh;
    background: #1a2027;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    line-height: 1.6;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav {
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  a {
    cursor: pointer;
  }
  
  .menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 70px;
  }
  
  .menu li {
    display: inline-block;
    width: 90px;
    transition: all 0.3s ease-in-out;
  }
  
  .menu li:hover .submenu {
    height: 85px;
  }
  
  .menu > li:hover > a {
    color: #3e95ff;
  }
  
  .menu > li:hover > a::before {
    visibility: visible;
    scale: 1 1;
  }
  
  .submenu {
    overflow: hidden;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background-color: #3e95ff;
    height: 0;
    line-height: 40px;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out;
  }
  .menu li .submenu a {
    color: #fff;
    opacity: 0;
    font-size: 16px;
    transition: opacity 0.25s;
  }
  
  .menu > li:hover .submenu a {
    opacity: 1;
  }
  
  .menu > li .submenu a:hover {
    background: rgb(0 0 0 / 20%);
  }
  
  .menu > li a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    text-decoration: none;
    position: relative;
    height: 100%;
  }
  
  .menu > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 3px;
    left: 0px;
    background-color: #3e95ff;
    transition: all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
  }

:root {
  --ff-body: "Heebo", sans-serif;
  --ff-heading: "Oswald", sans-serif;

  --clr-primary-400: hsl(60 100% 50%);
  --clr-neutral-900: hsl(0 0% 0%);
  --clr-neutral-100: hsl(0 0% 100%);

  --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
  --fs-600: 2rem;
  --fs-400: 1rem;
}

@media (min-width: 40em) {
  :root {
    --fs-600: 3rem;
    --fs-400: 1.125rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 1em);
}

h1,
blockquote {
  font-family: var(--ff-heading);
  font-weight: 900;
}

h1 {
  font-size: var(--fs-xl);
  line-height: 1;
  text-transform: uppercase;
}

blockquote {
  font-size: var(--fs-600);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1em;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

a {
  color: #444;
  font-weight: 700;
  transition: 0.5s;
}

a:hover {
  color: red;
  transition: 0.5s;
}

article {
  display: grid;
}

article > *:not(img) {
  padding: 0 2rem;
}

.lead {
  font-size: var(--fs-600);
  line-height: 1.3;
  max-width: 35ch;
}

.article-body {
  columns: 2 30ch;
  gap: 4rem;
  max-width: 100ch;
}

.article-body > p:first-child::first-letter {
  font-size: 5em;
  float: left;
  line-height: 1.1;
  margin-right: 0.5rem;
}

.article-body > p:first-child::first-line {
  font-weight: 523;
}

@media (min-width: 60em) {
  article {
    grid-template-columns: min(40%, 40rem) 1fr;
  }

  article > img {
    grid-row: 1 / 4;
    height: 100%;
    object-fit: cover;
  }

  article > *:not(img) {
    grid-column: 1 / -1;
  }
}
main {
  margin-top: 10vh;
  color: white;
}